@import "reset.css";

.header {
  display: flex;
}
.logo {
  width: 15rem;
}

.lists {
  text-align: center;
}

.list {
  width: 50%;
  margin: auto;
}

th {
  padding: 1em;
  border-bottom: 1px solid black;
}
tr {
}
td {
  padding: 1em;
}
.family,
.title {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
